Заметки.md
configs/

*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
*.lock.info
.terraform/

kubernetes-operators/build/env

**/dev.log

*.log
!kubernetes-production-clusters/kubesparay/inventory.ini
#kubernetes-production-clusters/kubesparay/*
